{% extends 'Tienda_app/base_blog.html' %}
{% load static %}

{% block section1 %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="tu_foto.jpg" alt="Mi Foto" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>CoNoCeMe</h1>
            <p>¡Buenas! Mi nombre es Natalia, trabajo en la rama de la Ingenieria mecanica y estos son mis primeros pasos en el mundo web.
                RoCkOlA CuLtUrAl surgio como el proyecto final de unos de mis cursos, mezclando un poco de la CuLtuRaL musical con este fabuloso mundo de la era digital.
                Espero que lo disfruten!
            </p>
            <p>Si deseas saber más sobre mí o ponerte en contacto, no dudes en [Enlace a Contacto].</p>
        </div>
    </div>
</div>



{% endblock %}